/* Main styles */

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: bold;
	line-height: 1.2;
	text-align: center;
	/* Add this line to center the header and subheader horizontally */
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Header styles */

header {
	background-color: white;
	padding: 1rem;
	border-bottom: 1px solid #E5E5E5;
}

header h1 {
	font-size: 24px;
	margin: 0;
}

header h2 {
	font-size: 20px;
	margin: 0;
	font-weight: normal;
}

/* Main content styles */

.main-content {
	max-width: 1024px;
	margin: 0 auto;
	padding: 2rem;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.image-container {
	flex-basis: 60%;
	margin-right: 2rem;
}

.image-container img {
	width: 100%;
	height: auto;
}

.release-notes {
	flex-basis: 40%;
	background-color: #F5F5F5;
	border-radius: 12px;
	padding: 2rem;
}

.release-notes h3 {
	font-size: 24px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 1rem;
	text-align: left;
	/* Added to align the title on the leading side */
}

.release-note {
	margin-bottom: 1rem;
}

.date {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0.5rem;
	opacity: 0.5;
	/* Added to set opacity to 50% */
}

.version {
	font-size: 16px;
	/* Updated to make font size a little bigger */
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.description {
	font-size: 16px;
	margin-bottom: 0;
	margin-top: 0.5rem;
	/* Updated to decrease margin between elements */
}

.button-container {
	margin-top: 2rem;
	text-align: center;
}

.download-button {
	display: inline-block;
	background-color: transparent;
	border: none;
	padding: 12px 24px;
	text-decoration: none;
}

.download-button img {
	vertical-align: middle;
	margin-right: 8px;
}

/* Responsive styles */

@media (max-width: 768px) {
	.main-content {
		flex-direction: column;
		align-items: center;
	}

	.image-container {
		margin-right: 0;
		margin-bottom: 2rem;
		max-width: 100%;
	}

	.release-notes {
		flex-basis: 100%;
		max-width: 100%;
	}
}